<!DOCTYPE html>
<html>
    <head>
        <title>Maria Serrano</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='estilo.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>
    
    <body>
        <div class="marco">
            <div class="contenedor">
                <div class="derecha">
                    <div class="centrado">
                        <img src="{{ url_for('static',filename='perfil.jpeg')}}">
                        <h1>Maria Serrano</h1>
                        <div class="contacto">
                            <h2>CONTACTO</h2>
                            <i class="fa fa-phone"></i> <span>(502) 3596-5176</span><br>
                            <i class="fa fa-envelope"></i> <span>mariasrm2004@gmail.com</span>
                        </div>
                        <div class="contacto">
                            <h2>HABILIDADES</h2>
                            <ul class="ciclos-lista">
                                <li>
                                    <div >
                                        <span class="nombre">PHP</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                  
                                </li>
                                <li>
                                    <div class="conten">
                                        <span class="nombre">HTML</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="conten">
                                        <span class="nombre">CSS</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="conten">
                                        <span class="nombre">JavaScript</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="conten">
                                        <span class="nombre">Python</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                  </li>
                              </ul>
                        </div>
                        <div class="contacto">
                            <h2>IDIOMA</h2>
                            <ul class="ciclos-lista">
                                <li>
                                    <div >
                                        <span class="nombre">Español</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                        </div>
                                    </div>
                                  
                                </li>
                                <li>
                                    <div class="conten">
                                        <span class="nombre">Ingles</span>
                                        <div class="ciclos">
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo lleno"></span>
                                            <span class="ciclo vacio"></span>
                                            <span class="ciclo vacio"></span>
                                        </div>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                   
                </div>
                <div class="izquierda">
                    <h2>ACERCA DE MÍ</h2></br>
                    <p>Soy un estudiante apasionado de Ingeniería en Sistemas que busca incansablemente explorar el emocionante mundo de la tecnología 
                        y el desarrollo de software. A lo largo de mi carrera académica, he cultivado una sólida base de conocimientos en programación, 
                        diseño de sistemas y resolución de problemas. Mi enfoque se centra en el desarrollo de software y las soluciones tecnológicas 
                        innovadoras que pueden cambiar la forma en que interactuamos con el mundo.
                    </p>
                    <p>Mi educación en Ingeniería en Sistemas me ha proporcionado una comprensión profunda de lenguajes de programación como Java, Python 
                        y JavaScript, así como experiencia en el diseño de aplicaciones y bases de datos. Estoy emocionado por la oportunidad de aplicar 
                        estas habilidades y conocimientos en proyectos desafiantes que contribuyan al avance de la tecnología.</p>
                    <p>
                        Aunque mi experiencia laboral es limitada, mi pasión por la informática me ha llevado a realizar proyectos personales y a participar 
                        en desafíos de programación en línea. Mi objetivo es continuar mi aprendizaje y adquirir experiencia práctica en el campo, y estoy abierto 
                        a oportunidades que me permitan crecer y desarrollarme como ingeniero en sistemas.
                    </p>
                </br><h2>EDUCACIÓN</h2></br>
                        <p><strong>Univerisidad de San Carlos de Guatemala</strong></br>
                        <p>Actualmente cursto 4to semeste de la carrera de Ingenieria en Ciencias y sistemas</p>
                        <p><strong>Colegio San Jose de la Encarnación (2021)</strong></br>
                        <p>Graduada de Bachillerato en Computación con Orientación Cientifica, en este colegio estudie la primaria y el bachillerato.</p>
                    </br><h2>EXPERIENCIA LABORAL</h2></br>
                        <p><strong>LEComputacion</strong></br>
                        <p>Auxiliar de programción</p>
                        <ul>
                            <li>Desarrollo de Código, depuración y pruebas</li>
                            <li>Documentación, Investigación, Soporte Técnico</li>
                            <li>Mantenimiento del Repositorio y Optimización de Rendimiento</li>
                          </ul>
                </div>
            </div>
        </div>
    </body>
</html>